In [15]:
import numpy as np 
a = sorted(np.random.randint(0,100,size=10))
print(a)
import random
b = sorted([random.randint(0, 99) for _ in range(10)])
print(b)
communs = [x for x in a if x in b]

if communs:
    print("oui")
    print("Valeurs communes :", communs)
else:
    print("non")

[2, 5, 18, 51, 57, 78, 87, 93, 96, 97]
[4, 35, 37, 45, 52, 54, 57, 64, 69, 73]
oui
Valeurs communes : [57]

In [16]:
communs = list(set(a) & set(b))

if communs:
    print("oui")
    print("Valeurs communes :", communs)
else:
    print("non")

oui
Valeurs communes : [57]

In [17]:
class Randomi : 
    def __init__(self) : 
        self.a = sorted(np.random.randint(0,100,size=10))
        self.b = sorted([random.randint(0, 99) for _ in range(10)])
    def InOrNot(self) : 
        return any(x in self.a for x in self.b) # si au moins une valeur de a est dans b 
dam = Randomi()
dam.InOrNot()

False

In [18]:
import pandas as pd 
data = {
    "a" : a,
    "b" : b
}

df = pd.DataFrame(data)
df

    a   b
0   2   4
1   5  35
2  18  37
3  51  45
4  57  52
5  78  54
6  87  57
7  93  64
8  96  69
9  97  73

In [22]:
print(set(df["a"]) & set(df["b"]))

{57}