In [48]:
import numpy as np 
a = sorted(np.random.randint(0,100,size=10))
print(a)
import random
b = sorted([random.randint(0, 99) for _ in range(10)])
print(b)
communs = [x for x in a if x in b]

if communs:
    print("oui")
    print("Valeurs communes :", communs)
else:
    print("non")

[0, 10, 17, 19, 35, 44, 48, 50, 55, 87]
[18, 23, 35, 44, 66, 69, 72, 76, 80, 82]
oui
Valeurs communes : [35, 44]

In [49]:
communs = list(set(a) & set(b))

if communs:
    print("oui")
    print("Valeurs communes :", communs)
else:
    print("non")

oui
Valeurs communes : [35, 44]

In [50]:
class Randomi : 
    def __init__(self) : 
        self.a = sorted(np.random.randint(0,100,size=10))
        self.b = sorted([random.randint(0, 99) for _ in range(10)])
    def InOrNot(self) : 
        return any(x in self.a for x in self.b) # si au moins une valeur de a est dans b 
dam = Randomi()
dam.InOrNot()

True

In [51]:
import pandas as pd 
data = {
    "a" : a,
    "b" : b
}

df = pd.DataFrame(data)
df

    a   b
0   0  18
1  10  23
2  17  35
3  19  44
4  35  66
5  44  69
6  48  72
7  50  76
8  55  80
9  87  82

In [52]:
intersection = set(df["a"]) & set(df["b"])
print(*intersection)
print(intersection)
df["Intersection"] = df["a"].isin(intersection)
df

35 44
{35, 44}

    a   b  Intersection
0   0  18         False
1  10  23         False
2  17  35         False
3  19  44         False
4  35  66          True
5  44  69          True
6  48  72         False
7  50  76         False
8  55  80         False
9  87  82         False